{% extends 'base.html.twig' %}

{% block body %}
    <div class="email">
        <h2>Pedir Informação ...</h2>
        <label>Email: <br><input type="email" id="email"></label><br><br>
        <label>Mensagem:<br><textarea id="mensagem"></textarea></label>
    </div>
    <div>
        <button id="enviar">Enviar</button>
    </div>
{% endblock %}